<h3>Militant Groups in Syria</h3>
<h4>A list of militant groups operating in Syria</h4>
<p>Presented without comment</p>
<ul>
    <li class="list-group-item disabled">Group : # Syriapp registered strikes : % of Strikes</li>
    <% @targets.each do |target| %>
    <% percent_strikes = (Strike.where("target_id = #{target.id}").length.to_f / @all_strikes) * 100 %>
    <li class="list-group-item"><%= link_to target.name, target_path(target) %>
        :
        <%= Strike.where(:target_id => target.id).all.length %>&nbsp:&nbsp<%= percent_strikes.round(2) %>%</li>
    <% end %>
</ul>
