<h3>Militant Groups in Syria</h3>
<h4>A list of militant groups operating in Syria</h4>
<p>Presented without comment</p>
<ul>
    <li class="list-group-item disabled">Group : # Syriapp registered strikes</li>
<% @targets.each do |target| %>
<li class="list-group-item"><%= link_to target.name, target_path(target) %> : <%= Strike.where(:target_id => target.id).all.length %></li>
<% end %>
</ul>
