<h3><%= @target.name %></h3>

<h4>Syriapp users have reported <%= @strikes.length %> strikes against this group by the following nations:</h4>

<ul>
    <li class="list-group-item disabled">Country : # Strikes agianst this group</li>
<% @strikes.each do |strike| %>
<li class="list-group-item">
<% @cid = strike.country_id %>
<% @country = Country.find(@cid) %>
<%= link_to @country.name, country_strikes_path(@country.id) %> : <%= @country.strikes.where(:target_id => @this_target_id).length %>
<% end %>
</li>
</ul>
