<form class="navbar-form pull-left" action="/countries" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <h3>Register a Nation in Syriapp.</h3>
    <h6>Remember to hit enter/return when you are done editing text.</h6>
    <div class="form-group">
        <label for="country[name]">Nation-state:</label>
        <input name="country[name]" placeholder="Name">
    </div>
    <!-- Give form_for a try! -->

    <div class="form-group">
        <label for="country[reason]">This nation's motivation for military action in Syria:</label>
        <input class="form-control" name="country[reason]" placeholder="To destroy ISIL." type="text">
    </div>

    <div class="form-group">
        <label for="country[assets]">Breif description of military assets deployed to Syria:</label>
        <input class="form-control" name="country[assets]" placeholder="Air Power..." type="text">
    </div>

    <div class="form-group">
        <label for="country[flag_link]">Image of National Flag:</label>
        <input name="country[flag_link]" placeholder="https://flagspot.net/images/...">
    </div>

    <div class="form-group">
        <input type="submit" value="Create">
    </div>
</form>
