.flag {
    height: 22px;
    width: 42px;
}
.full_flag {
    max-width: 324;
    max-height: 216;
}
.foot-fixed-bottom {
    bottom: 0;
    display: block;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}
.foot-fixed-bottom .container {
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
}
.foot-fixed-bottom hr {
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 0 0 5px;
    width: 100%;
}
.foot-fixed-bottom p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0 12px 15px;
}
.chart div {
    font: 10px sans-serif;
    text-align: justify;
    padding: 3px;
    margin: 1px;
    color: white;
}
/*stripes*/
#top_stripe,
#middle_stripe,
#bottom_stripe {
    border-radius: 3px;
    text-rendering: optimizeLegibility;
}
#top_stripe {
    background-color: green;
    color: black;
}
#middle_stripe {
    background-color: none;
    color: red;
    border: 1px solid black;
}
#bottom_stripe {
    background-color: black;
    color: red;
}
.allies,
.enemies,
.coordination {
    padding-left: 5em;
}
.allies {
    color: steelblue;
}
.enemies {
    color: darkred;
}
